{% extends 'base/base.html' %}

{% block content %}
<section>
    <div class="content mt-5">
        <div class="row">
            {% for object in object_lst %}
            <div class="col-md-3">
                <a href="">
                    <div class="card">
                        <div class="card-body">
                            <img style="height: 200px;" src="{% if object.image %}{{ object.image.url }}{% endif %}" class="card-img-top" alt="...">
                            <hr>
                            <h3 class="text-center">{{ object.name }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
